
body {
    background-image: url("bgr1.png");
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #66CC66;
    height: 68px;
}

li {
    float: left;
    height: 68px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 45px; 
	font-family: 'Open Sans Condensed', sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #808080;
     height: 68px;

}

.social{
	padding-left: 1450px;
}

.tittle{
	margin: 0px;


}

h1{
	color: white;
	font-size: 80px; 
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
	border: 1px;
	padding: 0px 30px;
	margin: 5px 0;
	
}

.mainimg{
	padding: 1px;
}

.maintxt{
	font-size: 40px; 
	font-family: 'Open Sans Condensed', sans-serif;
	float: left;
	width: 800px;
    padding: 30px;
    margin: 5px;
    color: white;

}


form    {

margin:auto;
position:relative;
width:800px;
height:750px;
font-family:'Open Sans Condensed', sans-serif;
font-size: 30px;
display: block;
color: 	#66CC66;
text-decoration: none;
padding:10px;

}

input    {
width:375px;
display:block;
border: 1px solid #999;
height: 25px;
font-size: 22px;

}

textarea#feedback {
width:375px;
height:180px;


}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}
