h1{
	color: white;
	font-size: 60px; 
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
	padding: 3px;
	
}
body {
    background-image: url("bgr1.png");
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #66CC66;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 20px;
    text-decoration: none;
    font-size: 45px; 
	font-family: 'Open Sans Condensed', sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #99FF66;
}

.tittle{
	margin: 0px;
	padding: 0px;

}

.social{
	float: right;
	padding: 3px;
}



