h1{
	background-color: white; color: black; 
	font-size: 60px; 
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	/*this is just a test*/ 
}
body {
    background-image: url("bgr1.png");
    background-repeat: no-repeat;
}


.first{
	
	float:left;
	width: 300px;
	font-size: 20px;
	margin: 10px;
}

.1{
	border-style: solid 1px;
}

.second{
	
	float: right;
	width: 300px;
	font-size: 20px;
	margin: 10px;
}

.thrid{
	
	float:right;
	width: 300px;
	font-size: 20px;
	margin: 10px;
}

.forth{

	float:right;
	width: 300px;
	font-size: 20px;
	margin: 10px;
}



.social{
	float: right;
 
}

.3{
	float: right;
	border-style: solid 1px;


}


.2{
	float: right;
	border-style: solid 1px;
	
}



.5{
	float: right;
	border-style: solid 1px;
}






